<h1>PRODUCTOS</h1>
products
<div class="container">
   <div>
      <div class="mb-3">
        <label for="" class="form-label">Nombre del producto</label>
        <input type="text" name="" id="" class="form-control" [value]="selectedProduct.title" [(ngModel)]="dataBody.title">
      </div>
      <div class="mb-3">
         <label for="" class="form-label">Precio</label>
         <input type="text" name="" id="" class="form-control" [value]="selectedProduct.price" [(ngModel)]="dataBody.price">
       </div>
       <div class="mb-3">
         <label for="" class="form-label">Descripción</label>
         <textarea name="" id="descripcion" cols="30" rows="3" class="form-control" [value]="selectedProduct.description" [(ngModel)]="dataBody.description"></textarea>
       </div>
       <div>

         <button (click)="updateProduct()">Editar</button>
       </div>
   </div>
   <div class="table-responsive">
      <table class="table table-primary">
         <thead>
            <tr>
              <th scope="col">ID</th>
               <th scope="col">Producto</th>
               <th scope="col">Precio</th>
               <th scope="col">Descripcion</th>
               <th scope="col">Categoria</th>
               <th scope="col">Imagen</th>
               <th scope="col">Eliminar</th>
               <th scope="col">Editar</th>
            </tr>
         </thead>
         <tbody>
            <tr class="" *ngFor="let product of products">
               <td>{{product.id}}</td>
               <td>{{product.title}}</td>
               <td>{{product.price}}</td>
               <td>{{product.description}}</td>
               <td>{{product.category}}</td>
               <td><img src="{{product.images}}" width="160px" height="160px"></td>
               <td><button (click)="deleteProduct(product.id)">Eliminar</button></td>
               <td><button (click)="editProduct(product)">Editar</button></td>
            </tr>
         </tbody>
      </table>
   </div>

</div>
